table	{
	border-collapse: inherit;
}

.markdown-body table	{
	display: table;
	table-layout: fixed;
	border: 1px solid #DFE2E5;
	border-radius: 5px;
}

.markdown-body table thead	{
	display: none;
}

.markdown-body table tr,
.markdown-body table tr:nth-child(2n),
.markdown-body table td	{
	background-color: transparent;
}

.markdown-body table th, .markdown-body table td {
	border-bottom: 1px solid #dfe2e5;
}

.markdown-body table th, .markdown-body table td + td:nth-child(2n) {
	border-left: 1px solid #DFE2E5;
}